aiohttp==3.8.1
aiosignal==1.2.0
altair==4.2.0
anyio==3.5.0
appdirs==1.4.4
apptools==5.1.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astroid==2.7.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.4
blis==0.7.4
boto3==1.26.30
botocore==1.29.30
cachetools==5.2.0
catalogue==2.0.4
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cycler==0.10.0
cymem==2.0.5
Cython==0.29.28
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
elevation==1.1.3
entrypoints==0.4
enum-compat==0.0.3
envisage==6.0.1
et-xmlfile==1.1.0
fasteners==0.17.3
frozenlist==1.3.0
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
gower==0.1.2
htbuilder==0.6.0
idna==2.10
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata==4.11.3
importlib-resources==5.6.0
ipykernel==6.10.0
ipython==7.32.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
isort==5.9.3
iteration-utilities==0.11.0
jedi==0.18.1
Jinja2==3.0.1
jmespath==1.0.1
joblib==1.0.1
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.15.6
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.12.0
jupyterlab-widgets==1.1.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.3
mayavi==4.7.4
mccabe==0.6.1
mistune==0.8.4
multidict==6.0.2
murmurhash==1.0.5
nbclassic==0.3.7
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.2.0
nest-asyncio==1.5.4
nltk==3.6.2
notebook==6.4.10
notebook-shim==0.1.0
numpy==1.16.5
openpyxl==3.0.9
packaging==21.0
pandas==1.3.0
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.0
pickleshare==0.7.5
Pillow==8.3.1
platformdirs==2.3.0
plotly==5.9.0
preshed==3.0.5
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.20.1
psutil==5.9.0
pyarrow==8.0.0
pycparser==2.21
pydantic==1.8.2
pydeck==0.7.1
pyface==7.4.1
Pygments==2.11.2
pylint==2.10.2
pymodbus==2.5.2
Pympler==1.0.1
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-dateutil==2.8.1
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pywin32==303
pywinpty==2.0.5
pyzmq==22.3.0
regex==2021.7.6
requests==2.25.1
rich==12.4.4
richdem==0.3.4
robodk==5.2.5
rope==0.19.0
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.7.0
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
smart-open==5.1.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
spacy==3.1.0
spacy-legacy==3.0.8
srsly==2.4.1
st-annotated-text==3.0.0
streamlit==1.16.0
tenacity==8.0.1
terminado==0.13.3
testpath==0.6.0
thinc==8.0.7
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.2
torch==1.10.0
tornado==6.2
tqdm==4.61.2
traitlets==5.1.1
traits==6.3.2
traitsui==7.3.1
typed-ast==1.4.3
typer==0.3.2
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.6
validators==0.20.0
vtk==9.1.0
wasabi==0.8.2
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
widgetsnbextension==3.6.1
wrapt==1.12.1
wslink==1.6.4
XlsxWriter==3.0.3
yarl==1.7.2
yellowbrick==1.4
zipp==3.6.0
